# #1

In [87]:
import pandas as pd

# #2

In [88]:
pd.__version__

'2.2.3'

In [89]:
pd.show_versions(as_json=True)

{
  "system": {
    "commit": "0691c5cf90477d3503834d983f69350f250a6ff7",
    "python": "3.13.1",
    "python-bits": 64,
    "OS": "Windows",
    "OS-release": "11",
    "Version": "10.0.26100",
    "machine": "AMD64",
    "processor": "Intel64 Family 6 Model 186 Stepping 2, GenuineIntel",
    "byteorder": "little",
    "LC_ALL": null,
    "LANG": null,
    "LOCALE": {
      "language-code": "Ukrainian_Ukraine",
      "encoding": "1251"
    }
  },
  "dependencies": {
    "pandas": "2.2.3",
    "numpy": "2.2.4",
    "pytz": "2025.2",
    "dateutil": "2.9.0.post0",
    "pip": "25.0.1",
    "Cython": null,
    "sphinx": null,
    "IPython": "9.0.2",
    "adbc-driver-postgresql": null,
    "adbc-driver-sqlite": null,
    "bs4": null,
    "blosc": null,
    "bottleneck": null,
    "dataframe-api-compat": null,
    "fastparquet": null,
    "fsspec": null,
    "html5lib": null,
    "hypothesis": null,
    "gcsfs": null,
    "jinja2": null,
    "lxml.etree": null,
    "matplotlib": "3.10.1",
    "numba": null,
    "numexpr": null,
    "odfpy": null,
    "openpyxl": null,
    "pandas_gbq": null,
    "psycopg2": null,
    "pymysql": null,
    "pyarrow": null,
    "pyreadstat": null,
    "pytest": null,
    "python-calamine": null,
    "pyxlsb": null,
    "s3fs": null,
    "scipy": "1.15.2",
    "sqlalchemy": null,
    "tables": null,
    "tabulate": null,
    "xarray": null,
    "xlrd": null,
    "xlsxwriter": null,
    "zstandard": null,
    "tzdata": "2025.2",
    "qtpy": null,
    "pyqt5": null
  }
}

In [90]:
import numpy as np
data = {
        'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no'],
        }

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

# #4

In [91]:
df = pd.DataFrame(data, index=labels)
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [92]:
col = "animal"
row = "e"
print(df[col][row])

dog

In [93]:
import io
buffer = io.StringIO()
df.info(buf=buffer)
s = buffer.getvalue()
l = []
for line in s.splitlines():
    l.append(line)
l

["<class 'pandas.core.frame.DataFrame'>",
 'Index: 10 entries, a to j',
 'Data columns (total 4 columns):',
 ' #   Column    Non-Null Count  Dtype  ',
 '---  ------    --------------  -----  ',
 ' 0   animal    10 non-null     object ',
 ' 1   age       8 non-null      float64',
 ' 2   visits    10 non-null     int64  ',
 ' 3   priority  10 non-null     object ',
 'dtypes: float64(1), int64(1), object(2)',
 'memory usage: 700.0+ bytes']

# #5

In [94]:
print(np.float64(df['age'].notnull().sum()))
print(df['age'].quantile(0.75))

8.0
4.625

# #6.1

In [95]:
print(df.head(3))

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no

# #6.2

In [96]:
print(df.iloc[[0, 2, 3]])

  animal  age  visits priority
a    cat  2.5       1      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes

In [97]:
data = {
        'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'], 
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3], 
        'name': ['Murzik', 'Pushok', 'Kaa', 'Bobik', 'Strelka', 'Vaska', 'Kaa2', 'Murka', 'Graf', 'Muhtar'], 
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1], 
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']
        }

index = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(data=data, index=index)

# #7

In [98]:
print(df[["name",'age']])

      name  age
a   Murzik  2.5
b   Pushok  3.0
c      Kaa  0.5
d    Bobik  NaN
e  Strelka  5.0
f    Vaska  2.0
g     Kaa2  4.5
h    Murka  NaN
i     Graf  7.0
j   Muhtar  3.0

# #8

In [99]:
df = pd.DataFrame({'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
                   'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
                   'name': ['Murzik', 'Pushok', 'Kaa', 'Bobik', 'Strelka', 'Vaska', 'Kaa2', 'Murka', 'Graf', 'Muhtar'],
                   'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
                   'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']},
                   index = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
                   )

In [100]:
print(df.iloc[[0, 2, 3]][['name', 'age']])

     name  age
a  Murzik  2.5
c     Kaa  0.5
d   Bobik  NaN

# #9

In [ ]:
critical_age = 3
print(df[df['age'] > critical_age])

  animal  age     name  visits priority
e    dog  5.0  Strelka       2       no
g  snake  4.5     Kaa2       1       no
i    dog  7.0     Graf       2       no

# #10

In [102]:
print(df[df['age'].isnull()])

  animal  age   name  visits priority
d    dog  NaN  Bobik       3      yes
h    cat  NaN  Murka       1      yes