In [21]:
import numpy as np
import pandas as pd

In [22]:
df = pd.DataFrame(  {
                    'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
                    'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
                    'name': ['Murzik', 'Pushok', 'Kaa', 'Bobik', 'Strelka', 'Vaska', 'Kaa2', 'Murka', 'Graf', 'Muhtar'],
                    'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
                    'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']
                    }, 
                    index = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
                )

# #11

In [23]:
filter_names = ["animal", "age"]
filter_values = ["cat", 3]
print(df[(df[filter_names[0]] == filter_values[0]) & (df[filter_names[1]] < filter_values[1])])

  animal  age    name  visits priority
a    cat  2.5  Murzik       1      yes
f    cat  2.0   Vaska       3       no

# #12

In [24]:
age_between = [2, 4]
print(df[df['age'].between(age_between[0], age_between[1])])

  animal  age    name  visits priority
a    cat  2.5  Murzik       1      yes
b    cat  3.0  Pushok       3      yes
f    cat  2.0   Vaska       3       no
j    dog  3.0  Muhtar       1       no

# #13.1

In [25]:
index = 'f'
df.loc[index, 'age'] += 1
print(df)

  animal  age     name  visits priority
a    cat  2.5   Murzik       1      yes
b    cat  3.0   Pushok       3      yes
c  snake  0.5      Kaa       2       no
d    dog  NaN    Bobik       3      yes
e    dog  5.0  Strelka       2       no
f    cat  3.0    Vaska       3       no
g  snake  4.5     Kaa2       1       no
h    cat  NaN    Murka       1      yes
i    dog  7.0     Graf       2       no
j    dog  3.0   Muhtar       1       no

# #13.2

In [26]:
df['age'] +=1
print(df)

  animal  age     name  visits priority
a    cat  3.5   Murzik       1      yes
b    cat  4.0   Pushok       3      yes
c  snake  1.5      Kaa       2       no
d    dog  NaN    Bobik       3      yes
e    dog  6.0  Strelka       2       no
f    cat  4.0    Vaska       3       no
g  snake  5.5     Kaa2       1       no
h    cat  NaN    Murka       1      yes
i    dog  8.0     Graf       2       no
j    dog  4.0   Muhtar       1       no

# #14.1

In [28]:
print(df['age'].sum())

36.5

# #14.2

In [55]:
a = df.select_dtypes(include=['float64', 'int64']).columns.tolist()
for i in a:
    print(str(i) + ':' + str(df[i].sum()))

age:36.5
visits:19

# #15

In [66]:
df = pd.DataFrame(
    {
        'name' : ["Alex", "Bob", "Carmen", "Diaz", "Ella","Forman", "Glen"],
        'age' : [20, 27, 35, 55, 18, 21, 35],
        'designation': ["VP", "CEO", "CFO", "VP", "VP", "CEO", "MD"]
    }
)

group_by = "designation"

print(df.groupby(group_by)['age'].mean())

designation
CEO    24.0
CFO    35.0
MD     35.0
VP     31.0
Name: age, dtype: float64

# #16

In [67]:
df = pd.DataFrame(
    {
        'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'name': ['Murzik', 'Pushok', 'Kaa', 'Bobik', 'Strelka', 'Vaska', 'Kaa2', 'Murka', 'Graf', 'Muhtar'],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']
    },
    index = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
)

new_index = "k"
new_data = [5.5, "dog", "Belka", "no", 2]
del_index = "f"

df.loc[new_index] = new_data
df = df.drop(del_index)
print(df)

  animal  age     name visits priority
a    cat  2.5   Murzik      1      yes
b    cat  3.0   Pushok      3      yes
c  snake  0.5      Kaa      2       no
d    dog  NaN    Bobik      3      yes
e    dog  5.0  Strelka      2       no
g  snake  4.5     Kaa2      1       no
h    cat  NaN    Murka      1      yes
i    dog  7.0     Graf      2       no
j    dog  3.0   Muhtar      1       no
k    5.5  dog    Belka     no        2

# #17

In [109]:
df = pd.DataFrame(
    {
        'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7],
        'name': ['Murzik', 'Pushok', 'Kaa', 'Bobik', 'Strelka', 'Vaska', 'Kaa2', 'Murka', 'Graf'],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no']
    },
    index = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']
)

group_by = "animal"

print(df[group_by].value_counts())

animal
cat      4
dog      3
snake    2
Name: count, dtype: int64

# #18

In [110]:
df = pd.DataFrame(
    {
        'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'name': ['Murzik', 'Pushok', 'Kaa', 'Bobik', 'Strelka', 'Vaska', 'Kaa2', 'Murka', 'Graf', 'Muhtar'],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']
    },
    index = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
)

sort_by = ["age", "visits"]

print(df.sort_values(by=sort_by, ascending=[False, True]))

  animal  age     name  visits priority
i    dog  7.0     Graf       2       no
e    dog  5.0  Strelka       2       no
g  snake  4.5     Kaa2       1       no
j    dog  3.0   Muhtar       1       no
b    cat  3.0   Pushok       3      yes
a    cat  2.5   Murzik       1      yes
f    cat  2.0    Vaska       3       no
c  snake  0.5      Kaa       2       no
h    cat  NaN    Murka       1      yes
d    dog  NaN    Bobik       3      yes

# #19

In [119]:
df = pd.DataFrame(
    {
        'name' : ["Alex", "Bob", "Carmen", "Diaz", "Ella","Forman", "Glen"],
        'age' : [20, 27, 35, 55, 18, 21, 35],
        'on vacation': [1, 1, 0, 0, 0, 1, 0],
        'designation': ["VP", "CEO", "CFO", "VP", "VP", "CEO", "MD"]
    }
)

column = "on vacation"

df[column] = df[column].map(lambda x: True if (x == 1) or (x == 'yes')  else False)
print(df)

     name  age  on vacation designation
0    Alex   20         True          VP
1     Bob   27         True         CEO
2  Carmen   35        False         CFO
3    Diaz   55        False          VP
4    Ella   18        False          VP
5  Forman   21         True         CEO
6    Glen   35        False          MD

# #20

In [120]:
df = pd.DataFrame(
    {
        'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'name': ['Murzik', 'Pushok', 'Kaa', 'Bobik', 'Strelka', 'Vaska', 'Kaa2', 'Murka', 'Graf', 'Muhtar'],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']
    },
    index = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
)

column = 'animal'
old_value = 'snake'
new_value = 'python'

df[column] = df[column].map(lambda x: new_value if x == old_value else x)
print(df)

   animal  age     name  visits priority
a     cat  2.5   Murzik       1      yes
b     cat  3.0   Pushok       3      yes
c  python  0.5      Kaa       2       no
d     dog  NaN    Bobik       3      yes
e     dog  5.0  Strelka       2       no
f     cat  2.0    Vaska       3       no
g  python  4.5     Kaa2       1       no
h     cat  NaN    Murka       1      yes
i     dog  7.0     Graf       2       no
j     dog  3.0   Muhtar       1       no